@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  padding: 0; margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  background-color: darkgrey;
}

.App {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2em 3em;
  border-radius: 20px;
  width: 100%;
  max-width: 768px;
}

.need-login {
  text-align: center;
  padding: 4em;
}

@media all and (max-width:768px) {
  html {
    font-size: 12px;
  }

  .App {
    width: calc(100% - 32px);
  }
}